body {
 background-color: #2C2B2B;
 color: #7D0202;
}

header {
 background-color: #252525;
 padding: 5px 5px 5px 5px; 
}

p {
 color: #C70303;

}

section {
 background-color: #252525;
}

h1 {
 background-color: #252525;
 padding: 4px 4px 4px 4px;
}

footer {
 background-color: #020202;
}
