html {
 font-size: 17px; 
 font-family: sans-serif;
 background-color:black;
}

body {
 background-color: #2C2B2B;
 color: #7D0202;
}

header {
 background-color: #252525;
 padding: 5px 5px 5px 5px;
 font-weight: bold;
 text-shadow: 2px 2px 2px red;
 border: 1px solid black;
 text-align: center;  
}

nav ul {
 background-color: #252525;
 list-style-type: none;
 text-align: center;
 padding: 5px 0  5px 0;
 font-size: 16px;
}
nav li {
 background-color: #252525;
 display: inline-block;
 font-size: 15px;
 padding: 10px 20px 10px 20px; 
 font-weight: bold;
}
nav a:link {
 color: red;
}

nav a:hover {
 color: yellow;
}
p {
 color: orange;
 font-style: italic;
}

section {
 background-color: #252525;
 border: 1px solid black;
 margin: 15px 15px 15px 15px;
 text-align: center;
 padding: 10px 10px 10px 10px;
}

h1 {
 background-color: #252525;
 padding: 4px 4px 4px 4px;
 color: orange;
 -webkit-text-fill-color: orange;
 -webkit-text-stroke-width: .7px;
 -webkit-text-stroke-color: red; 
 }

.typewriter h2 {
  overflow: hidden;
 -webkit-text-fill-color: orange;
 -webkit-text-stroke-width: .7px;
 -webkit-text-stroke-color: red;  
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
footer {
 background-color: #020202;
 font-size: 12px;
 text-align: center;
}

.stitched p {
   padding: 2px;
   margin: 1px;
   background-color: #252525;
   color: orange;
   font-size: 12px;
   font-style: italic;
   line-height: 1.5em;
   border: 2px dashed red;
   border-radius: 3px;
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
}
